body {
  text-align: center;
  background-color: white;
}

#navbar{
  z-index: 1;
  color: white;
  font-size: 24px;
  font-weight: bold;
  left: 45%;
}

.headerTitle {
  font-size: 80px;
  color:white;
  position:relative;
  bottom: 90px;
  margin: 0px
}

a:visited{
  color: white;
}

#headerImgDiv{
  height: 410px;
  background-image: url("./pics/pexels-photo-110818.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


#searchIcon {
  margin-right: 15px;
}


/* .Map {
  margin-top: 220px;
} */

#footer {
  height: 50px;
  background-color: #191919;
  /* position: fixed;  */
}

#thanks {
  text-align: center;
  margin: 0;
  padding: 14px; 
  font-size: 18px;
}

#title {
  margin-top: 0;

}

#testing {
  border: 2px solid yellow;
  z-index: 0;
}

#homePage {
  display: flex;
  justify-content: space-around;
}