body {
  text-align: center;
  background-color: white;
}

/* #searchBar {
  width: 85%;
  height: 50px;
  font-size: 40px;
  text-align: center;
} */

#navbar{
  z-index: 1;
  color: white;
  font-size: 24px;
  font-weight: bold;
  left: 45%;
}

.headerTitle {
  font-size: 80px;
  color:white;
  position:relative;
  bottom: 90px;
  margin: 0px
}

a:visited{
  color: white;
}

#headerImgDiv{
  height: 410px;
  background-image: url("./pics/pexels-photo-110818.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


#searchIcon {
  margin-right: 15px;
}

.mapDiv {
  width: 600px;
  height: 500px;
  border: black solid 2px;
  float: left;
  margin-left: 350px;
  margin-top: 50px;
}

#footer {
  height: 50px;
  background-color: #191919;
}

#thanks {
  text-align: center;
  margin: 0;
  padding: 14px; 
  font-size: 18px;
}