body {
  text-align: center;
  background-color: white;
}

/* #searchBar {
  width: 85%;
  height: 50px;
  font-size: 40px;
  text-align: center;
} */

#navbar{
  float: top;
}

#headerImgDiv{
  height: 160px;
}

#headerImg{
  z-index: -1;
  width: 100%;
  height: 520px;
}

h1 {
  font-size: 100px;
  color:white;
}

#searchIcon {
  margin-right: 15px;
}

.mapDiv {
  width: 600px;
  height: 500px;
  border: black solid 2px;
  float: left;
  margin-left: 350px;
  margin-top: 50px;
}

#footer {
  height: 50px;
  background-color: #191919;
}

#thanks {
  text-align: center;
  margin: 0;
  padding: 14px; 
  font-size: 18px;
}