.art:hover {
  cursor: pointer;
  transform: scale(1.25);
}

.art.selected {
  transform: scale(1);
}

.galleryInfo {
  text-align: center;
  height: 150px;
  padding: 0;
  margin-top: -10px;

}
.artsite:hover{
  color: #9d9d9d;
}
.artsite{
  color: #00c9a4;
}
