h2{

    margin-top: 20px;
    font-size: 50px;
    color: #5b5b5b;
}

h3 {
    color: dimgrey;
    font-size: 25px;
}

#mission {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 2%;
    color: dimgray;
    font-size: 20px;
}

#name {
    font-size: 18px;
}

#info {
    /* border-left: 4px solid #cac9c9;
    border-right: 4px solid #cac9c9;
    border-bottom: 4px solid #cac9c9; */
    /* border:  4px solid #cac9c9; */
    width: 200px;
    margin-bottom: 4%;
    color: dimgray;
    background-color: white;
    /* box-shadow: 5px 5px #cac9c9; */
    /* border-radius: 4px; */
}

#desciption {
    color: dimgray;
    font-size: 20px;
}

#descriptionDiv {
    border-bottom: 2px solid #00c9a4;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;

}


#bios {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    margin-bottom: 2%;
}

#name {
    margin: 0;
}
