
.Map {
  border: solid 1px black;
  height: 400px;
  width: 30vw;
  float: right;
}

#searchBar {
    position:relative;
    bottom: 120px;
    width: 85%;
    height: 50px;
    font-size: 40px;
    text-align: center;
    border-radius: 4px;
}

#submit {
    height: 25px;
    border-radius: 6px;
   margin-top: 10px;
    position:relative;
    bottom: 100px;

}

#galleryList {
    height: 400px;
    width: 400px;
    float: left;
    /* margin-top: 220px; */
    border-right: 2px solid #5b5b5b;
    overflow-y:scroll;
}

#renderedGallery {
    text-align: left;
    margin-left: 40px;
} 

#map {
    border: 2px solid black;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    height: 500px;;
}

/* #render {
    border-right: 2px solid black;
} */

#address {
    /* border: solid black 2px; */
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    font-size: 25px;
}

#gallery {
    margin-top: 10%;
    font-size: 25px;
}

#gaddress {
    margin-top: -85px;
}