
h1{
  font-size: 2.8em;
}

.Map {
  border: solid 2px rgba(0,0,0,.17);
  height: 90vh;
  width: 30vw;
  float: right;
  margin-top: 67px;
  margin-right: 10px;
}


*::-webkit-input-placeholder{
  color: #e7e7e7;
}

#searchBar {
    position:relative;
    bottom: 130px;
    width: 75%;
    height: 50px;
    font-size: 35px;
    text-align: center;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid #00c9a4;
    color: #e7e7e7;
}

.submit {
    height: 8%;
    border-radius: 16px;
   margin-top: 5px;
    position:relative;
    bottom: 110px;
    font-size: 20px;
    width: 15%;

}

.submit:hover{
  background-color: rgba(133,133,133,.95);
}

input:focus, select:focus, button:focus
{
outline:none;
}


#quote{
  font-size: 2em;
}

#galleryList {
  height: 90vh;
  width: 30vw;
    float: left;
      margin-top: 67px;
    /* margin-top: 220px; */
    border-right: 2px solid rgba(0,0,0,.17);
    overflow-y:scroll;
    text-align: left;
    padding: 15px 0;
}

#renderedGallery {
    text-align: left;
    margin-left: 40px;
    /* word-wrap: break-word;
    border: 2px solid black;
    height: 250px;
    float: left;
    width: 300px;
    margin-right: 7%;
    display: inline-block; */
}


#map {
    border: 2px solid black;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    height: 500px;;
}

/* #render {
    border-right: 2px solid black;
} */

#address {
    /* border: solid black 2px; */
<<<<<<< HEAD
    /* display: flex;
    justify-content: space-around; */
    margin-top: 10%;
    font-size: 25px;
}

#gallery {
    margin-top: 10%;
    font-size: 25px;
    color: #282727;
}

#gaddress {
    margin-top: -85px;
    color: #282727;
}

#galleryName {
    margin-bottom: -8%;
    font-size: 21px; 
    color: #282727;
    
}
=======
    height: 90vh;
    width: 30vw;
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    font-size: 25px;
}
>>>>>>> 310b76f730ad6ed58b7ca299f2c795a8bad6fc7e
